.header{
    
    height: 110px;
    width: 100%;
    background-color: rgb(53, 59, 79);
   
}
.uu{
    
    display:flex;
     list-style-type:none;
     justify-content: space-around;
     align-items: center;
    
    
}
.uu li{
    margin: 30px;

}
.header .uu .text-link{
    text-decoration: none;
  color: white;
}